.containerWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;

  .container {
    display: flex;
    height: calc(~"100% - 64px");
    width: 100%;

    .leftArea {
      width: 350px;
      height: 100%;
      padding: 10px 0 10px 10px;
      display: inline-block;
      background-color: #fff;
      transition: width ease-in-out 0.5s;

      &.collapsed {
        width: 50px !important;
      }

      .componentList {
        height: 100%;

        :global {
          .ant-tabs-tabpane {
            padding: 0 12px;
          }
        }
      }

      .collapsedIcon {
        position: absolute;
        left: 18px;
        bottom: 132px;
        cursor: pointer;

        &:hover {
          color: @primary-color;
        }
      }

      .ctitle {
        white-space: nowrap;
        color: @primary-color;
        font-size: 18px;
        font-weight: 700;
        padding: 12px 0;
        display: block;
      }
    }
  }
}


.editorTabclass {
  height: 100%;

  .ant-tabs-nav {
    width: 40px !important;
    min-width: 40px !important;
  }

  .ant-tabs-tab {
    padding: 20px 0px !important;
    margin: auto !important;
  }
}

.flexBox {
  display: flex;
  flex-wrap: wrap;
}

.tickMark {
  overflow: hidden;
  height: 100%;
  position: relative;
  flex: 1;

  .tickMarkTop {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .tickMarkLeft {
    width: 50px;
    height: calc(100% - 50px);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
