.messageWrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 16px;
  z-index: 1000;
  pointer-events: none;
}

.messageContainer {
  pointer-events: none;
}

.messageBigBox {
  text-align: center;
  pointer-events: none;
  padding: 8px 0;
}

.messageBox {
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  max-width: 300px;
  font-size: 16px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.4), 0 6px 16px 0 rgba(0, 0, 0, 0.1),
    0 9px 28px 8px rgba(0, 0, 0, 0.1);
  pointer-events: all;
  padding: 8px 16px;
}
